@page "/product/{id:int}"

<PageTitle>Product Details</PageTitle>

<h3>Product Details</h3>

@if(_product is null)
{
    <span>@_message</span>
}
else
{
    <div class="container">
        <div class="card" style="width: 100%; height: 600px">
            <img src="@_product.ImageUrl" class="card-img-top img-thumbnail img-fit" alt="@_product.Title">
        
            <div class="card-body">
                <h4>@_product.Title</h4>
                <p class="card-text">@_product.Description</p>
            </div>
            
            @if (GetSelectedVariant() is not null)
            {
                if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
                {
                    <h6 class="text-muted original-price">
                        $@GetSelectedVariant().OriginalPrice
                    </h6>
                }
                <h4 class="price">$@GetSelectedVariant().Price</h4>
            }
        </div>
    </div>
}